<nav class="navbar navbar-expand-lg navbar-style">
  <div class="container-fluid">
    <a class="navbar-logo" routerLink="/">E-TİCARET UYGULAMASI</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Gezinmeyi aç">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link nav-text" routerLink="/">Ana Sayfa</a>
        </li>
      </ul>

      <!-- Arama Formu -->
      <div class="search-container">
        <form class="search-form">
          <input #searchInput value="{{searchName}}" class="search-input" type="search" (keyup)="searchProduct($event)"
                 (blur)="hideSearch()" placeholder="Ürün ara" aria-label="Search">
          <button class="search-button" (click)="submintSearch(searchInput.value)" type="button">Ara</button>

          <!-- Arama Önerileri -->
          <ul class="suggested-result" *ngIf="searchResult">
            <li *ngFor="let item of searchResult">
              <a (mousedown)="redirectToDetails(item.name)">{{item?.name}}</a>
            </li>
          </ul>
        </form>
      </div>

      <!-- Dinamik Menü -->
      <div>
        <ul class="navbar-nav mb-lg-0" *ngIf="menuType === 'default'">
          <li class="nav-item">
            <a class="nav-link nav-text" routerLink="login">Giriş</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-text" routerLink="cart-page">Sepetim({{cartItemsNumber}})</a>
          </li>
        </ul>

        <!-- Satıcı Menüsü -->
        <ul class="navbar-nav mb-lg-0" *ngIf="menuType === 'seller'">
          <li class="nav-item">
            <a class="nav-link nav-text" routerLink="seller-home">Ürün Listesi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-text" routerLink="seller-add-product">Ürün Ekle</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-text">{{sellerName | titlecase}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-text logout" (click)="sellerlogoutpopup()">Çıkış</a>
          </li>
        </ul>

        <!-- Kullanıcı Menüsü -->
        <ul class="navbar-nav mb-lg-0" *ngIf="menuType === 'user'">
          <li class="nav-item">
            <a class="nav-link nav-text">{{userName | titlecase}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-text" routerLink="update-profile">Profili Güncelle</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-text" routerLink="my-order">Siparişlerim</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-text" routerLink="cart-page">Sepetim({{cartItemsNumber}})</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-text logout" (click)="userlogoutpopup()">Çıkış</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
