<div>
  <app-alert-box></app-alert-box>
  <router-outlet></router-outlet>
</div>
<div class="container mt-5">
  <div class="row">
    <div *ngIf="noProductMsg" class="footer-margin">
      <h2 class="text-center red mt-5">{{ noProductMsg }}</h2>
    </div>
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12" *ngIf="cartData?.length">
      <div class="card card-style mb-4" *ngFor="let item of cartData; let i = index">
        <div class="row g-0">
          <div class="col-md-3">
            <img src="{{ item.url }}" class="img-fluid" alt="Ürün Görseli">
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <p>{{ item.name }}</p>
                <p>Fiyat: ₺{{ item.price }}</p>
                <div>
                  <label for="quantity-{{i}}">Miktar:</label>
                  <input
                    *ngIf="item.id"
                    id="quantity-{{ item.id }}"
                    type="number"
                    [(ngModel)]="item.quantity"
                    (change)="updateQuantity(item.id!, item.quantity || 1)"
                    min="1"
                    class="quantity-input"
                  />
                </div>
                <button type="button" (click)="removeTocart(String(item.id))" class="btn btn-danger">Çıkar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
      <div class="card card-hight">
        <h1 class="text-center">Sipariş Özeti</h1>
        <div class="float-right">
          <span>Tutar:</span><span>₺{{ priceSummary.price }}</span>
        </div>
        <div class="float-right">
          <span>Vergi:</span><span>₺{{ priceSummary.tax }}</span>
        </div>
        <div class="float-right">
          <span>Teslimat:</span><span>₺{{ priceSummary.delivery }}</span>
        </div>
        <div class="float-right">
          <span>İndirim (%8):</span><span>₺{{ priceSummary.discount }}</span>
        </div>
        <div class="float-right total">
          <h2>Toplam:</h2><h2>₺{{ priceSummary.total }}</h2>
        </div>
        <div class="mt-4">
          <input [(ngModel)]="discountCode" class="form-control" type="text" placeholder="İndirim Kodu Girin" />
          <button (click)="applyDiscount()" class="btn mt-2">Uygula</button>
          <div *ngIf="discountApplied" class="text-success mt-2">
            İndirim Kodu Uygulandı! {{ discountAmount }}₺ İndirim Kazandınız.
          </div>
          <div *ngIf="invalidDiscount" class="text-danger mt-2">
            Geçersiz İndirim Kodu!
          </div>
        </div>
        <div class="text-center mt-4">
          <button (click)="checkOut()" class="btn btn-success">Ödeme Yap</button>
        </div>
      </div>
    </div>
  </div>
</div>
