<div>
  <app-alert-box></app-alert-box>
  <router-outlet></router-outlet>
</div>
<h1 class="green h-size text-center mt-5"><b>Ürün Detayları Ekle</b></h1>
<div class="container">
  <div class="card mt-5 card-style">
    <div class="card-body">

      <form #sellerAddProduct="ngForm" (ngSubmit)="submint(sellerAddProduct.value)" >
        <div class="mb-4">
          <!-- <label for="exampleInputPassword1" class="form-label">Ad</label> -->
          <input type="text" required class="form-control" ngModel name="name" placeholder="Ürün adını girin"
                 id="exampleInputName">
        </div>

        <div class="mb-4">
          <input type="number" required class="form-control" ngModel name="price" id="exampleInputPrice"
                 placeholder="Ürün fiyatını girin" aria-describedby="emailHelp">
        </div>

        <div class="mb-4">
          <input type="text" required class="form-control" ngModel name="color" id="exampleInputColor"
                 placeholder="Ürün rengini girin" >
        </div>

        <div class="mb-4">
          <input type="text" required class="form-control" ngModel name="category" placeholder="Ürün kategorisini girin"
                 id="exampleInputCategory">
        </div>

        <div class="mb-4">
          <textarea class="form-control" ngModel name="description" placeholder="Ürün açıklamasını girin" id="exampleInputDescription" rows="3"></textarea>
        </div>

        <div class="mb-4">
          <input type="url" required class="form-control" ngModel name="url" placeholder="Ürün resim URL'sini girin"
                 id="exampleInputUrl">
        </div>

        <div class="mb-4 form-check">
          <input type="checkbox" class="form-check-input" ngModel name="isCampaign" id="exampleInputCampaign">
          <label for="exampleInputCampaign" class="form-check-label">Kampanyalı Ürün mü?</label>
        </div>

        <div class="text-center">
          <button type="submit" class="btn center" routerLink="seller-add-productl">Ürünü Ekle</button>
        </div>
        <h4 class="green text-center mt-4">{{addPrductMesg}}</h4>
      </form>
    </div>
  </div>
</div>
