<div>
  <app-alert-box></app-alert-box>
  <router-outlet></router-outlet>
</div>

<div class="container ">
  <div>
    <h2>Ürün Listesi</h2>
  </div>
  <table class="table table-striped mt-3 ">
    <thead >
    <tr>
      <th class="table-head" scope="col">Id</th>
      <th class="table-head" scope="col">Ad</th>
      <th class="table-head" scope="col">Fiyat</th>
      <th class="table-head" scope="col">Renk</th>
      <th class="table-head" scope="col">Kategori</th>
      <th class="table-head" scope="col">Açıklama</th>
      <th class="table-head" scope="col">Resim</th>
      <th class="table-head" scope="col">İşlem</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of productList">
      <th scope="row">{{item.id}}</th>
      <td>{{item.name}}</td>
      <td>{{item.price}} TL</td>
      <td>{{item.color}}</td>
      <td>{{item.category}}</td>
      <td>{{item.description}}</td>
      <td><img src="{{item.url}}" alt="Resim"></td>
      <td>
        <button class="red"  (click)="deletePopup(item.id)">Sil</button>
        <i class="fa-solid fa-trash" (click)="deletePopup(item.id)" style="color: #ff0000;"></i>
        |
        <button class="green"  routerLink="/seller-update-product/{{item.id}}">Düzenle</button>
        <i class="fa-solid fa-pen-to-square" style="color: #097b17;"></i>
      </td>
    </tr>
    </tbody>
  </table>
  <h4 class="red text-center">{{delletMsg}}</h4>
  <div class="mb">

  </div>
</div>
