<div>
  <app-alert-box></app-alert-box>
  <router-outlet></router-outlet>
</div>
<div class="container">
  <h1 class="page-title">Siparişlerim</h1>

  <div *ngIf="!orderData?.length" class="no-order">
    <h2 class="text-center">Henüz hiçbir ürün sipariş etmediniz...</h2>
  </div>

  <div class="order-card mb-4" *ngFor="let item of orderData">
    <div class="order-card-header">
      <i class="fa-solid fa-cart-shopping fa-2xl icon"></i>
      <p class="order-id">Sipariş No: <strong>#{{ item.id }}</strong></p>
    </div>
    <div class="order-card-body">
      <div class="order-info">
        <p>Fiyat: <strong>₺{{ item.totalPrice }}</strong></p>
        <p>Durum: <span class="status">Yolda</span></p>
      </div>
      <div class="order-actions">
        <button type="button" (click)="cancleOrder(item.id)" class="btn btn-danger">Siparişi İptal Et</button>
      </div>
    </div>
  </div>
</div>
