<div>
  <app-alert-box></app-alert-box>
  <router-outlet></router-outlet>
</div>
<div class="container mt-5">
  <div *ngIf="productDetails">
    <div class="card mb-4 product-card" *ngFor="let item of productDetails">
      <div class="row g-0">
        <div class="col-md-4">
          <a routerLink="/product-details/{{item.id}}">
            <img src="{{item.url}}" class="img-fluid product-image" alt="Product Image">
          </a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <a routerLink="/product-details/{{item.id}}" class="product-link">
              <h2 class="product-name"><b>{{item.name}}</b></h2>
            </a>
            <p><strong>Fiyat:</strong> ₺{{item.price}}</p>
            <p><strong>Renk:</strong> {{item.color}}</p>
            <p><strong>Kategori:</strong> {{item.category}}</p>
            <p class="product-description"><strong>Açıklama:</strong> {{item.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div *ngIf="noDataPersent" class="footer-margin">
      <h1 class="text-center text-danger">{{noDataPersent}}</h1>
    </div>
  </div>
</div>
