<h1 class="text-center mt-5 green"><b>ANASAYFA</b></h1>
<div>
  <app-alert-box></app-alert-box>
  <router-outlet></router-outlet>
</div>

<div class="container mt-5">
  <ul class="nav nav-tabs" id="productTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="popular-tab" data-bs-toggle="tab" data-bs-target="#popular" type="button" role="tab" aria-controls="popular" aria-selected="true">
        Popüler Ürünler
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="campaign-tab" data-bs-toggle="tab" data-bs-target="#campaign" type="button" role="tab" aria-controls="campaign" aria-selected="false">
        Kampanyalı Ürünler
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="all-products-tab" data-bs-toggle="tab" data-bs-target="#all-products" type="button" role="tab" aria-controls="all-products" aria-selected="false">
        Tüm Ürünler
      </button>
    </li>
  </ul>
  <div class="tab-content mt-3" id="productTabContent">
    <!-- Popüler Ürünler Tab -->
    <div class="tab-pane fade show active" id="popular" role="tabpanel" aria-labelledby="popular-tab">
      <ngb-carousel *ngIf="popularProduct">
        <ng-template *ngFor="let item of popularProduct" ngbSlide>
          <div class="picsum-img-wrapper">
            <img routerLink="/product-details/{{item.id}}" class="img-home" src="{{item.url}}" alt="Rastgele ilk slayt" />
          </div>
          <div class="carousel-caption">
            <h2 class="black">{{item.name}}</h2>
            <p class="black">{{item.description}}</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>

    <!-- Kampanyalı Ürünler Tab -->
    <div class="tab-pane fade" id="campaign" role="tabpanel" aria-labelledby="campaign-tab">
      <div class="row" *ngIf="campaignProducts">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let item of campaignProducts">
          <div class="card card-style mb-5 card-hower">
            <img routerLink="/product-details/{{item.id}}" src="{{item.url}}" class="card-img-to card-img" alt="...">
            <div class="card-body">
              <div class="text-center">
                <h2 class="card-title"><b>{{item.name}}</b></h2>
                <span>Fiyat - {{item.price}}</span><br>
                <span>Renk - {{item.color}}</span>
              </div>
              <div class="mt-2 text-center">
                <span><a routerLink="/product-details/{{item.id}}"><b>Detayları Görüntüle</b></a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Tüm Ürünler Tab -->
    <div class="tab-pane fade" id="all-products" role="tabpanel" aria-labelledby="all-products-tab">
      <div class="row" *ngIf="allProduct">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let item of allProduct">
          <div class="card card-style mb-5 card-hower">
            <img routerLink="/product-details/{{item.id}}" src="{{item.url}}" class="card-img-to card-img" alt="...">
            <div class="card-body">
              <div class="text-center">
                <h2 class="card-title"><b>{{item.name}}</b></h2>
                <span>Fiyat - {{item.price}}</span><br>
                <span>Renk - {{item.color}}</span>
              </div>
              <div class="mt-2 text-center">
                <span><a routerLink="/product-details/{{item.id}}"><b>Detayları Görüntüle</b></a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
